* {
    padding: 0;
    margin: 0;
}

:root {
    --main-gradient: linear-gradient(86.96deg, #EC6EAD 0%, #3494E6 100%);
    --secondary-gradient: linear-gradient(98.6deg, #EC6EAD -6.89%, #3494E6 114.76%);
    --red: #E43D65;
    --green: #3DE444;
    --orange: #E4833D;
    --background: #111116;
    --card-background: #202224;
    --font-family: 'jakarta', sans-serif;
    --main-radius: 10px;
    --shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);
}

body {
    background: var(--background);
    font-family: var(--font-family);
    color: #fff;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 50px;
}


/* button */

.button {
    padding: 12px 30px;
    min-width: 150px;
    border: none;
    font-family: var(--font-family);
    font-weight: 600;
    color: #fff;
    font-size: .9rem;
    border-radius: var(--main-radius);
    background: var(--main-gradient);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: .2s;
    position: relative;
    z-index: 1;
}

.button.toggle, .button.secondary {
    background: var(--card-background);
}

.button.toggle::after {
    content: '';
    top: 0;
    left: 0;
    margin: 7px;
    height: calc(15px * 2 + 1rem - (7px * 2));
    width: calc(15px * 2 + 1rem - (7px * 2));
    background: var(--main-gradient);
    border-radius: calc(var(--main-radius) / 1.5);
    display: block;
    position: absolute;
    transition: .2s;
    z-index: -1;
}

.button.red {
    background: var(--red);
}

.button.toggle.toggled::after {
    right: 0;
    left: auto;
}

.buttonContainer {
   width: fit-content;
}

.buttonContainer .shortcut {
    font-size: .75rem;
    font-weight: 300;
    padding-top: 3px;
    display: block;
    text-align: center;
}

.buttonContainer:hover .button  {
    background: var(--secondary-gradient);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .4);
}

.buttonContainer:hover .button:not(:disabled).red  {
    background: var(--red);
    filter: brightness(1.2);
}

.buttonContainer:hover .button:not(:disabled).secondary  {
    background: var(--card-background);
    filter: brightness(1.2);
}

.buttonContainer:hover .button:not(:disabled).toggle {
    background: var(--card-background);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .4);
}

.buttonContainer:hover .button:not(:disabled).toggle::after {
    width: calc(100% - (7px * 2));
}

.buttonContainer .button:active:not(:disabled) {
    transform: scale(.99);
}

.buttonContainer .button:disabled {
    background: rgba(255, 255, 255, .2);
    cursor: not-allowed;
    opacity: .7;
    box-shadow: none;
}

.buttonContainer .shortcut.disabled {
    opacity: .5;
}



/* title */
.title,
.titlePrepend {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font-family);
}

.titlePrepend {
    border: none;
    display: inline;
    background: none;
    color: #fff;
    opacity: .3;
    cursor: pointer;
    transition: .2s;
}

.titlePrepend:hover {
    opacity: 1;
}

/* info */

.infoContainer .infoIcon {
    margin-right: 10px;
    font-size: .8rem;
} 

.infoContainer .infoText {
    font-size: .9rem;
}

/* field */

.fieldContainer {
    margin: 15px 0;
    display: block;
}

.fieldContainer .field {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--card-background);
    border-radius: var(--main-radius);
}

.fieldContainer .field .fieldInput {
    border: none;
    padding: 13px 40px;
    background: transparent;
    color: #fff;
    width: 100%;
    resize: none;
    font-family: var(--font-family);
    border-radius: var(--main-radius);
    font-weight: 500;
}

.fieldContainer .field .fieldIcon {
    padding: 10px;
    color: #fff;
    position: absolute;
    transition: .1s;
    opacity: .7;
}

.fieldContainer .field .fieldErase {
    border: none;
    background: transparent;
    cursor: pointer;
    right: 0;
    opacity: 0;
}

.fieldContainer .field .fieldInput:focus ~ .fieldIcon,
.fieldContainer:hover .field .fieldInput ~ .fieldIcon {
    opacity: 1;
}

.fieldLabel {
    font-size: .9rem;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
}

/* section title */

.sectionTitleContainer {
    margin: 50px 0 20px;
}

.sectionTitleContainer:first-of-type {
    margin-top: 0;
}

.sectionTitleContainer .sectionTitle {
    font-size: 1.1rem;
    font-weight: 800;
    font-family: var(--font-family);
    width: fit-content;
    text-transform: capitalize;
}

.sectionTitleContainer .sectionTitle::after {
    width: 100%;
    content: '';
    height: 2px; 
    background-color: #fff;
    display: block;
}

/* repository card */
.repositoryCardContainer {
    padding: 15px;
    background-color: var(--card-background);
    box-sizing: border-box;
    border-radius: calc(var(--main-radius) * 1.5);
    box-shadow: var(--shadow);
    transition: .2s;
}

.repositoryCardContainer:hover {
    transform: scale(1.01);
}

.repositoryCardContainer .repositoryCardName {
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.repositoryCardContainer .repositoryCardUrl a {
    color: rgba(255, 255, 255, .6);
    font-weight: 400;
    text-decoration: none;
    font-size: .9rem;
    line-height: .9rem;
}

.repositoryCardContainer .repositoryCardDescription {
    font-size: .9rem;
    margin: 10px 0 20px;
}

.repositoryCardContainer .repositoryCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repositoryCardContainer .repositoryCardFooter .repositoryCardFooterInfoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px
}

/* status */ 

.textStatusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    /* display: 'inline-block'; */
    vertical-align: middle;
    height: 7px;
    width: 7px;
    border-radius: 15px;
    color: var(--card-background);
    margin: 7px 7px 0;
}

.status-large {
    height: 15px;
    width: 15px;
    margin: 15px 15px 0;
}

.status-running {
    background-color: var(--green);
}

.status-updating {
    background-color: var(--orange);
}

.status-stopped {
    background-color: var(--red);
}

/* popup */

.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    background-color: var(--background);
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: var(--main-radius);
    padding: 20px 20px 0;
}

.popupContainer .popupFooter {
    justify-content: flex-end;
}