* {
    padding: 0;
    margin: 0;
}

:root {
    --main-gradient: linear-gradient(86.96deg, #EC6EAD 0%, #3494E6 100%);
    --secondary-gradient: linear-gradient(98.6deg, #EC6EAD -6.89%, #3494E6 114.76%);
    --red: #E43D65;
    --green: #3DE444;
    --background: #111116;
    --card-background: #202224;
    --font-family: 'jakarta', sans-serif;
    --main-radius: 10px;
}

body {
    background: var(--background);
    font-family: var(--font-family);
    color: #fff;
}

.button {
    padding: 13px 30px;
    min-width: 150px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    color: #fff;
    font-size: 1rem;
    border-radius: var(--main-radius);
    background: var(--main-gradient);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: .2s;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer .shortcut {
    font-size: .8rem;
    font-weight: 300;
    padding-top: 3px;
}

.buttonContainer:hover .button  {
    background: var(--secondary-gradient);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .4);
}

.buttonContainer .button:active:not(:disabled) {
    transform: scale(.99);
}

.buttonContainer .button:disabled {
    background: rgba(255, 255, 255, .2);
    cursor: auto;
    opacity: .7;
    box-shadow: none;
}

.buttonContainer .shortcut.disabled {
    opacity: .5;
}